*{
    padding: 0;
    margin: 0;
}
/*.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {*/
    /*min-height: 1px;*/
    /*padding-right: 0;*/
    /*padding-left: 0;*/
/*}*/
ul li{
    list-style: none;
    float: left;
}
a{
    text-decoration: none;
}
.btnorder a{
    color: white;
}
.pd{
    padding-left: 20px;
}
.pa{
    padding-left: 20px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.list{
    padding: 8px 15px;
    line-height: 40px;
}
.listbg{
    border-bottom: 1px dashed gainsboro;
    border-top: 1px dashed gainsboro;
    background-color: #F9F9F9;
}
.price{
    color: #4A4A4A;
}
.price span{
    color: #1BBAF6;
}
.clothname{
    color:#343434;
    font-size: 14px;
    font-weight: 600;
}
.pic img{
    width: 40px;
    height: 40px;
    position: relative;
}
.btnorder{
    float: right;
    margin-right: 20px;
}
.badge {
    position: absolute;
    left:30px;
    top: -5px;
    /*display: inline-block;*/
    min-width: 6px;
    /*padding: 3px 7px;*/
    font-size: 12px;
    font-weight: bold;
    /*line-height: 1;*/
    color: #fff;
    text-align: center;
    /*white-space: nowrap;*/
    vertical-align: middle;
    background-color: red;
    border-radius: 80px;
}

#twolist,
#threelist,
#fourlist,
#fivelist{
    display: none;
}
