/**{*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/
/*.row{*/
    /*margin-left: 0px;*/
    /*margin-right: 0px;*/
/*}*/
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}
a:focus, a:hover {
    /*color: #23527c;*/
    text-decoration: underline;
}
.pd{
    padding-left: 20px;
}
.headtitle{
    background-color:#14B8F6;
    color: white;
    line-height: 40px;
    font-size: 16px;
    /*font-weight: 700;*/
    font-family: '微软雅黑 Bold', '微软雅黑';
}
.headtitle img{
    width: 24px;
    height: 24px;
}
.headtitle a{
    color: white;
    text-decoration: none;
}

.userinfo{
    float: right;
    z-index: 999;
    display: none;
}
.userinfo li{
    background-color:white ;
    border-bottom: 1px solid gainsboro;
    padding: 5px;
    list-style: none;
    width: 75px;
}
.dividline{
    height: 8px;
    background-color:#F7F7F7 ;
}
/***********************************/
.userimg{
    background-color: #1BBAF6;
    /*line-height: 60px;*/
    padding: 15px 0;
}
.userimg img{
    width: 60px;
    height: 60px;
}
.userimg span{
    color: whitesmoke;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
.img-circle {
    border-radius: 50%;
    display: inline-block;
    max-width: 100%;
    line-height: 40px;
    background-color:#1BBAF6;
    border: 1px solid #ddd;
}
.vip{
    background-color: #F7F7F7;
    line-height: 85px;
    padding: 8px 10px 0 10px;
}
.vip img{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 320px;
    /*height: 124px;*/
    height: 100px;
    box-shadow: 2px 2px 3px #c5c5c5;
    position: relative;
}
.viptime{
    color: white;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    right: 25px;
    bottom:-20px;
}
.vipnum{
    color: white;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: 25px;
    bottom:-20px;
}
.vipsetting{
    color: white;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    right: 25px;
    top:-15px;
}
.vipname{
    color: white;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: 25px;
    top:-15px;
}
.bala{
    background-color: white;
    padding-left: 45px;
    padding-top: 10px;
    line-height: 16px;
}
.bala span{
    font-size: 20px;
    color: #14B8F6;
    text-align: center;
}
.bala p{
    font-size: 14px;
    font-weight: 400;
    color: #A9A9A9;
}
.borderline{
    border-right:2px solid #1BBAF6 ;
}

/**********/
.about{
    padding-top: 5px;
    padding-left: 10px;
    text-align: center;
    font-size: 12px;
    color: #4A4A4A;
}
.about a{
    text-decoration: none;
    color: #4A4A4A;
}
.about img{
    width: 28px;
    height: 28px;
}
.serbg{
    background-color: #F7F7F7;
    padding: 120px 10px 10px 40px;
}
.serbg span{
    font-size: 12px;
}
